<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1><%= title %></h1>
  <a href="/flights/new">Add a Flight!</a>
  <a href="/flights">Show me all the flights!</a>
</main>

<%- include("./partials/footer") %>
