<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/new.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form id="new-form" action="/flights" method="POST">
    <label>Airline:
      <select name="airline">
        <option value="American">American</option>
        <option value="Southwest">Southwest</option>
        <option value="United">United</option>
      </select>
    </label><br>
    <label>Airport:
      <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
      </select>
    </label><br>
    <label>Flight Number:
      <input type="number" min = "10" max = "9999" name="flightNo">
    </label><br>
    <label>Date of Departure:
      <input type="datetime-local" 
      name="departs">
    </label><br>
    <label>Tickets:
      <input name="seats" required pattern="[A-F][1-9]\d?">
    </label><br>
    <button type="submit">Add Flight</button>
  </form>
</main>